<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="encoding" value="UTF-8"/>

    <property name="DEFAULT_PATTERN"
              value="%blue(%d{yyyy-MM-dd HH:mm:ss}) %red([traceId:%X{X-B3-TraceId:-}]) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) %cyan(%line-%msg%n)"/>
    <springProperty scope="context" name="token" source="ding.token"/>
    <springProperty scope="context" name="secret" source="ding.secret"/>

    <appender name="DingDingMsgAppender" class="per.lkc.base.appender.DingDingMsgAppender">
        <token>ss</token>
        <secret>ss</secret>
    </appender>

    <!-- 控制台输出日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DingDingMsgAppender"/>
    </root>
</configuration>